{% extends 'base.html.twig' %}
{% block title %}
{{ 'title' }}
{% endblock %}
{% block header %}
{% include('headfoot/header_nav.html.twig') %}
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}


{% block Content %}

    <!-- main alignment -->
    <div class="container"><div class="row"><div class="col">

        <!-- col-8 main  -->
        <div class="row"> <div class="col-8">
            <!-- Visa property info paeiliui, galima aisku buvo ir loop rasyt... -->
            <div class="row"><div class="col">
                <img class="sp-property-main-img m-2" src="/images/uploads/{{ property.nuotraukos }}" alt="cia bus foto slideshow">
            </div></div>
            <div class="row my-1">
                <div class="col-4">
                    <span class="sp-main-params col-4"> {{ 'Gatvė: '}} </span>
                </div>
                <div class="col-4">
                    {{ property.gatve}}
                </div>
            </div>
            <div class="row my-1">
                <div class="col-4">
                    <span class="sp-main-params col-4"> {{ 'Plotas: '}} </span>
                </div>
                <div class="col-4">
                    {{ property.plotas}}
                </div>
            </div>
            <div class="row my-1">
                <div class="col-4">
                    <span class="sp-main-params col-4"> {{ 'Kambariu skaičius: '}} </span>
                </div>
                <div class="col-4">
                    {{ property.kambariuSkaicius}}
                </div>
            </div>
            <div class="row my-1">
                <div class="col-4">
                    <span class="sp-main-params col-4"> {{ 'Aukštas: '}} </span>
                </div>
                <div class="col-4">
                    {{ property.aukstas }}
                </div>
            </div>
            <div class="row my-1">
                <div class="col-4">
                    <span class="sp-main-params col-4"> {{ 'Apdaila: '}} </span>
                </div>
                <div class="col-4">
                    {{ property.apdaila}}
                </div>
            </div>
            <div class="row my-1">
                <div class="col-4">
                    <span class="sp-main-params col-4"> {{ 'Kaina: '}} </span>
                </div>
                <div class="col-4">
                € &nbsp{{ property.kaina }}
                </div>
            </div>
            <hr>
            <div class="row mb-5"><div class="col">
                <span class="col-4 my-text-content"> {{ property.content }} </span>
            </div></div>
        </div>

        <!-- col-4 for ad banners -->
        <div class="col-md-4">
            <!-- col-4 sidebar -->
        </div></div>


    </div></div></div> <!-- /container,row,col -->
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div class="container"><div class="row"><div class="col">
    {% include 'headfoot/footer.html.twig' %}
    </div></div></div> <!-- /container,row,col -->
{% endblock %}
