<!-- if not authecticade display login/singup -->
{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <nav class="navbar navbar-expand navbar-light py-0">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login')}}">Login</a>
            </li>
            <li class="nav-item">
                <span class="nav-link px-0">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register')}}">SignUp</a>
            </li>
        </ul>
    </nav>
{% else %}
<!-- if authenticated display name/logout -->
<nav class="navbar navbar-expand navbar-light">
    <ul class="navbar-nav ml-auto">
        <!-- display name only on main page(if statement) -->
        {% if app.request.get('_route') == 'app_homepage'  %}
            <li class="nav-item">
                {{ 'logged in: ' ~ app.user.firstname }}
            </li>
        {% endif %}
        <li class="nav-item">
            <span class="px-1"> | </span>
        </li>
        <li class="nav-item dropdown" style="">
          <a class="nav-link dropdown-toggle pt-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            meniu
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="">
            <!-- <a class="dropdown-item" href="#">1</a> -->
            <a class="dropdown-item" href="{{ path('app_add_property')}}">įdėti skelbimą</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('app_logout')}}">Logout</a>
          </div>
        </li>
    </ul>
</nav>
{% endif %}

<!-- underline links on hover: -->
<style media="screen">
    .dropdown-item:hover {
        text-decoration: underline;
    }
</style>
