{% extends 'base.html.twig' %}
{% block title %}
{{ 'find property' }}
{% endblock %}
{% block header %}
{% include('headfoot/header_nav.html.twig') %}
{% include('headfoot/main_searchbar_nav.html.twig') %}
{% endblock %}

{% block body %}
    {{ dump(properties)}}
    {{ parent() }}
{% endblock %}


{% block Content %}


    <!-- main alignment -->
    <div class="container"><div class="row" id="search-results">
        <!-- if not found -->
            {% if properties|length == 0 %}
                <div class="col mb-5">{{ 'skelbimų pagal esamus paieškos parametrus nerasta' }}</div>
            {% endif %}
        <!-- else: -->
        {% for property in properties %}
        <div class="col-12 col-md-4">
            <div class="card my-3 mx-1">
            <a href="/individual-property-{{ property.id }}">
                <img class="card-img-top card-img" src="/images/uploads/{{ property.nuotraukos }}" alt="Card image cap">
            </a>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 p-1">
                            <span class=""> {{property.gatve ~ ', ' ~ property.miestas }} </span>
                        </div>
                        <div class="col-3 p-1">
                            <span class="sp-main-params"> {{property.plotas ~ ' m²'}}</span>
                        </div>
                        <div class="col-4 p-1">
                            <span class="sp-main-params"> {{property.kambariuSkaicius ~ ' - kamb'}}</span>
                        </div>
                        <div class="col-4 p-1">
                            <span class="sp-main-params">{{'€ ' ~ property.kaina}}</span>
                        </div>
                    </div>
            </div>
        </div>
        </div>
        {% endfor %}

        <!-- sample elem -->
        <div class="col-12 col-md-4">
            <div class="card my-3 mx-1">
                <a href="#"><img src="" alt="img"></a>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 p-1">Country</div>
                    <div class="col-3 p-1">State</div>
                    <div class="col-4 p-1">City</div>
                </div>
            </div>
        </div></div>

    </div></div> <!-- /container,row -->
{% endblock %}



{# block javascripts #}
    {# parent() #}
{# endblock #}

{% block footer %}
    {{ parent() }}
    <div class="container"><div class="row"><div class="col">
    {% include 'headfoot/footer.html.twig' %}
    </div></div></div> <!-- /container,row,col -->
{% endblock %}
